html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}
.wrapper {
  position: relative;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.thumbnail.logo {
  width: 100%;
}
/* Home */
.container-home {
  /* padding-top: 5rem; */
  background-image: linear-gradient(#0f0db9, #6a0ae9);
  max-width: 100%;
}

.kiri {
  max-width: 100%;
  padding: 10px;
  font-size: small;
  color: aliceblue;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.kanan {
  margin-top: 5rem;
  max-width: 100%;
}
.thumbnail img {
  max-width: 100%;
  z-index: 2;
}
.btn {
  display: block;
  width: 100%;
  border: none;
  background-color: #198754;
  padding: 14px 28px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  border: 1px solid rgb(90, 180, 110);
  border-radius: 5px;
}

.box {
  display: block;

  max-width: 100%;
  max-height: 37px;
  margin-top: 30px;
}
.box::before {
  content: "Coming Soon";
  color: white;
  position: absolute;
  z-index: 2;
  opacity: 0;
}
.box:hover::before {
  opacity: 1;
  font-size: 17px;
  padding-top: 10px;
  /* transform: translate(-50%);  */
  background-color: #198754;
  width: 300px;
  height: 37px;
  text-align: center;
  border-radius: 5px;
}
.box:hover {
  opacity: 0.9;
}

.container-roadmap {
  padding-top: 5rem;
  background-image: linear-gradient(#6a0ae9, #0f0db9);

  box-sizing: border-box;

  padding-bottom: 5rem;
}
.card {
  border-radius: 20px;
  margin: 10px;
  box-sizing: border-box;
  padding: 20px;
}
.card ol {
  padding: 20px;
}
.card.satu {
  border: 1px solid black;
  background-image: linear-gradient(170deg, #9f2cd4 0%, #1d3ede 100%);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.card.dua {
  border: 1px solid black;
  background-image: linear-gradient(170deg, #c4f025 0%, #1d3ede 100%);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.card.tiga {
  border: 1px solid black;
  background-image: linear-gradient(170deg, #0cb44c 0%, #1d3ede 100%);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.card.empat {
  border: 1px solid black;
  background-image: linear-gradient(170deg, #5a40eb 0%, #0c228f 100%);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.card-header {
  height: 50px;
  /* background-color: #ccc; */
  text-align: center;

  font-size: 20px;
  color: azure;
  font-weight: bold;
}
.card-body {
  color: azure;
  font-size: medium;
  max-height: 600px;
}

/* Swap */
.container-swap {
  box-sizing: border-box;
  background-image: linear-gradient(#0f0db9, #0cad62);
}
.thumbnail {
  max-width: 100%;
  flex: 1;
}
.thumbnaile img {
  max-width: 100%;
}
.kanan-swap {
  flex: 1;
  /* background-color: brown; */
  padding: 5rem;
}

.konten {
  /* margin: 20px; */
  padding: 10px;
  order: 1;
}

.konten ul {
  max-width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.konten ul li {
  margin: 2px;
}
.kanan.bawah {
  font-size: small;
  margin: 10px;
  color: whitesmoke;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

/* NFT */
.container-nft {
  background-image: linear-gradient(#0cad62, #000704);
  box-sizing: border-box;
  padding: 10px;
}

.nft-kiri {
  font-size: 20px;
  color: whitesmoke;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  background-image: linear-gradient(180deg, #cedb1a 0%, #000000 100%);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.nft-tengah {
  flex: 1;
  order: 2;
  width: 100%;

  border-radius: 10px;
  padding-top: 20px;
}
.nft-tengah img {
  box-sizing: border-box;
  width: 100%;
}
.nft-kanan {
  flex: 1;
  order: 1;
  font-size: 20px;
  color: whitesmoke;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  padding-bottom: 5rem;

  background-image: linear-gradient(180deg, #2b56f1 0%, #000000 100%);
  border-radius: 10px;
}
.text-center {
  padding-bottom: 30px;
}

/* Team */

.container-team {
  max-width: 100%;
  background-image: linear-gradient(#000008, #2b56f1);
}
.kartu {
  flex: 1;
  max-width: 250px;
  max-height: 300px;
  border-radius: 10px;
  transform: translateX(25%);
  overflow: hidden;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.kepala {
  font-weight: bold;
  align-items: center;
  text-align: center;
  color: white;
  line-height: 1.8;
}
.kepala img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  padding: 20px;
}

.badan {
  text-align: center;
  color: white;

  padding: 10px;
  height: 300px;
  line-height: 1.4;
}
.core.didi {
  background: linear-gradient(to right, #373b44, #4286f4);
}
.core.hayun {
  background: linear-gradient(to right, #a86008, #ffba56);
}
.core.anton {
  background: linear-gradient(to right, #373b44, #4286f4);
}
.core.rian {
  background: linear-gradient(to right, #0a504a, #38ef7d);
}
.core.asgon {
  background: linear-gradient(to right, #373b44, #4286f4);
}
.core.ichan {
  background: linear-gradient(to right, #493240, #f09);
}
/* Footer */
.container-footer {
  width: 100%;
  background-color: rgb(7, 7, 161);
  box-sizing: border-box;
  border: 1px solid;
}
.footer-atas {
  margin: 20px;
}

.footer-atas ul {
  text-align: center;
  list-style: none;
  padding: 5rem;
}
.footer-atas a {
  color: white;
  font-size: 25px;
  text-decoration: none;
}
.footer-atas a:hover {
  color: rgb(150, 135, 135);
}
.content-footer {
  align-items: center;
  padding: 5rem;
  color: white;

  border-radius: 20px;
}
.footer-kiri {
  margin: 20px;
  flex: 1;
  color: white;
}
.footer-tengah {
  margin: 20px;
  color: white;
  flex: 1;
}
.footer-kanan {
  margin: 20px;
  flex: 1;
}
.footer-bawah {
  width: 100%;
  height: 50px;
  background-color: rgb(5, 5, 151);
  color: white;
  text-align: center;
  font-size: 15px;
  line-height: 50px;
}

/* Tulisan Div */

.tulisan-satu {
  text-align: center;
  font-size: 40px;
  background-color: #6a0ae9;
  color: aliceblue;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  z-index: 3;
}
.tulisan-dua {
  text-align: center;
  font-size: 40px;
  background-color: #0f0db9;
  color: aliceblue;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.tulisan-tiga {
  text-align: center;
  font-size: 40px;
  background-color: #0cad62;
  color: aliceblue;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.tulisan-empat {
  text-align: center;
  font-size: 40px;
  background-color: #000008;
  color: aliceblue;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
/* End Tulisan */

@media screen and (min-width: 576px) {
  .container-home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
  }
  .kiri {
    margin-right: 10rem;
    max-width: 100%;
    font-size: 24px;
    color: aliceblue;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);

    z-index: 1;
  }
  .kanan {
    max-width: 100%;
    z-index: 1;
  }
  .thumbnail img {
    max-width: 500px;
    z-index: 1;
  }
  .container-roadmap {
    display: flex;
    justify-content: center;
  }
  .card {
    width: 20%;
    border-radius: 20px;
    margin: 10px;
    box-sizing: border-box;
    padding: 20px;
  }
  .container-swap {
    display: flex;
    justify-content: center;
    padding: 5rem;
  }
  .thumbnail {
    /* background-color: blueviolet; */
    flex: 1;
  }
  .thumbnaile img {
    width: 100%;
  }
  .kanan-swap {
    flex: 1;
    /* background-color: brown; */
    padding: 2.5rem;
  }
  .kanan.bawah {
    font-size: 25px;
    margin: 10px;
    color: whitesmoke;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  }
  .container-nft {
    padding: 5rem;
    display: flex;
    justify-content: center;
  }
  .container-nft div {
    margin: 10px;
    width: 100%;
    padding: 20px;
  }
  .nft-tengah {
    width: 100%;
  }
  .nft-kiri {
    flex: 1;
    order: 3;
    font-size: 20px;
  }
  .container-team {
    display: flex;
    padding: 5rem;
    box-sizing: border-box;
    justify-content: flex-start;
  }
  .kartu {
    flex: 1;
    max-width: 250px;
    max-height: 300px;
    border-radius: 10px;
    margin: 5px;
    overflow: hidden;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    transform: translateX(-5%);
  }
  .container-footer {
    width: 100%;
    background-color: rgb(7, 7, 161);
    box-sizing: border-box;
    border: 1px solid;
  }
  .footer-atas {
    margin: 20px;
  }

  .footer-atas ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 5rem;
  }
  .footer-atas a {
    margin: 5 0rem;
    color: white;
    font-size: 18px;
    text-decoration: none;
  }
  .footer-atas a:hover {
    color: rgb(150, 135, 135);
  }
  .content-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;

    border-radius: 20px;
  }
  .footer-kiri {
    margin: 20px;
    flex: 1;
  }
  .footer-tengah {
    margin: 20px;

    flex: 1;
  }
  .footer-kanan {
    margin: 20px;
    flex: 1;
  }
  .footer-bawah {
    width: 100%;
    height: 50px;
    background-color: rgb(5, 5, 151);
    color: white;
    text-align: center;
    font-size: 15px;
    line-height: 50px;
  }
}
